.mySwiper .swiper-slide {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Seçili (active) thumbnail */
.mySwiper .swiper-slide-thumb-active {
  opacity: 0.4;
}

/* Hover bonus (UX) */
.mySwiper .swiper-slide:hover {
  opacity: 0.8;
}