@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-midnight: #1f2937;
  --color-success: #2dc071;
  --color-logo-blue: #252b42;
  --color-dark-bg: #252b42;
  --color-header-turkuaz: #23a6f0;
  --color-second-text: #737373;
  --color-muted: #bdbdbd;
  --color-reduced-price-color: #23856d;
  --color-disabled-element-color: #8EC2F2;
  --color-danger:#E74040;
  --color-light-gray: #FAFAFA;
  --color-button-gray: #F9F9F9;
  --color-light2-gray:#ECECEC;
  --color-light3-gray: #858585;



  --font-montserrat: "Montserrat", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
* {
  outline: 1px solid red;
}
