

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



@theme {
  --color-midnight: #1f2937;
--color-success: #2DC071;
--color-logo-blue: #252B42;
--color-dark-bg: #252B42;
--color-header-turkuaz: #23A6F0;
--color-second-text: #737373;
--color-muted: #BDBDBD;
--color-reduced-price-color: #23856D;







--font-montserrat: 'Montserrat', sans-serif;

}

@custom-variant dark (&:where(.dark, .dark *));



