@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  --color-midnight: #1f2937;
--color-success: #2DC071;
--color-logo-blue: #252B42;


--font-montserrat: 'Montserrat', sans-serif;

}

@custom-variant dark (&:where(.dark, .dark *));



